.popup__close {
  background-image: url(../../../images/close-edit-profile.svg);
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-size: cover;
  position: absolute;
  border-style: none;
  top: -40px;
  right: -40px;
  padding: 0;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
}

@media (max-width: 768px) {
  .popup__close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0px;
  }
}