.header {
  max-width: 100%;
  margin: 0;
  border-bottom: solid 1px;
  border-color: rgb(84, 84, 84, 0.7);
  margin-bottom: 40px;
  display: block;
  justify-content: space-between;
  display: flex;
}

@media (max-width: 768px) {
  .header {
    margin-bottom: 42px;
  }
}
